@model Restauranteprueba.Models.Orden
@{
	ViewData["Title"] = "Agregar Multiples Ordenes";
	Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="CrearMultiples">
	<div class="container">
		<div class="col-6">
			<h2>Agregar multiples Ordenes</h2>
		</div>
		<div class="row mt-5">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="col-12">
				@for (int i = 0; i <= 4; i++)
				{
					<div class="row mt-2">
						<div class="col-10">
							<label asp-for="IdEmpleado" class="form-label"></label>
							<input asp-for="IdEmpleado" class="form-control" />
							<span asp-validation-for="IdEmpleado" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-10">
							<label asp-for="IdCliente" class="form-label"></label>
							<input asp-for="IdCliente" class="form-control" />
							<span asp-validation-for="IdCliente" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-10">
							<label asp-for="IdMesa" class="form-label"></label>
							<input asp-for="IdMesa" class="form-control" />
							<span asp-validation-for="IdMesa" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-10">
							<label asp-for="FechaOrden" class="form-label"></label>
							<input asp-for="FechaOrden" class="form-control" />
							<span asp-validation-for="FechaOrden" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-10">
							<label asp-for="EstadoOrden" class="form-label"></label>
							<input asp-for="EstadoOrden" class="form-control" />
							<span asp-validation-for="EstadoOrden" class="text-danger"></span>
						</div>
					</div>
				}
				<div class="row mt-5">
					<div class="col-4">
						<button class="btn btn-secondary text-white form-control" type="submit">Guardar &nbsp;</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>